# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

WARNING:tensorflow:From C:\Users\tjohn\anaconda3\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(Path("./Resources/applicants_data.csv"))

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [4]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=["EIN", "NAME"])

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [5]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [7]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

C:\Users\tjohn\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [8]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names_out(categorical_variables)
)

# Review the DataFrame
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [9]:
# Create a list of numerical variables 
numerical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "int64"].index)

# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat(
    [
        encoded_df,
        applicant_data_df[numerical_variables]
    ],
    axis=1
)

# Review the Dataframe
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT,IS_SUCCESSFUL
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590,1

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [10]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df["IS_SUCCESSFUL"]

# Display a sample of y
y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [11]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns="IS_SUCCESSFUL")

# Review the features DataFrame
X[:5]

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590

### Step 6: Split the features and target sets into training and testing datasets.

In [12]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [13]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [14]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [15]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [16]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = (number_input_features + 1) // 2

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [17]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = (hidden_nodes_layer1 + 1) // 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [18]:
# Create the Sequential model instance
nn = Sequential()

WARNING:tensorflow:From C:\Users\tjohn\anaconda3\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [19]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, activation="relu", input_dim=number_input_features))

In [20]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [21]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_output_neurons, activation="relu"))

In [22]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 58)                6786

 dense_1 (Dense)             (None, 29)                1711

 dense_2 (Dense)             (None, 1)                 30

=================================================================
Total params: 8527 (33.31 KB)
Trainable params: 8527 (33.31 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [23]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

WARNING:tensorflow:From C:\Users\tjohn\anaconda3\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [24]:
# Fit the model using 50 epochs and the training data
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
WARNING:tensorflow:From C:\Users\tjohn\anaconda3\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\tjohn\anaconda3\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

804/804 [==============================] - 3s 2ms/step - loss: 0.9914 - accuracy: 0.6902
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7581 - accuracy: 0.7049
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8121 - accuracy: 0.7051
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7038 - accuracy: 0.7182
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6835 - accuracy: 0.7286
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6889 - accuracy: 0.7225
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6892 - accuracy: 0.7264
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6977 - accuracy: 0.7265
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6854 - accuracy: 0.7264
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7184 - accuracy: 0.7087
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6867 - accuracy: 0.7261
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7525 - accuracy: 0.7238
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7544 - accuracy: 0.7246
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7243 - accuracy: 0.7258
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6877 - accuracy: 0.7245
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6598 - accuracy: 0.7282
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6417 - accuracy: 0.7164
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6209 - accuracy: 0.7302
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6292 - accuracy: 0.7267
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6224 - accuracy: 0.7331
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6246 - accuracy: 0.7250
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6128 - accuracy: 0.7317
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6140 - accuracy: 0.7334
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6122 - accuracy: 0.7326
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6269 - accuracy: 0.7266
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6449 - accuracy: 0.7131
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6354 - accuracy: 0.7319
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6323 - accuracy: 0.7295
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6453 - accuracy: 0.7255
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6454 - accuracy: 0.7332
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6431 - accuracy: 0.7339
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6323 - accuracy: 0.7328
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6344 - accuracy: 0.7349
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6310 - accuracy: 0.7328
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6521 - accuracy: 0.7326
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6411 - accuracy: 0.7314
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6352 - accuracy: 0.7324
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6236 - accuracy: 0.7339
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6147 - accuracy: 0.7325
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6135 - accuracy: 0.7351
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6124 - accuracy: 0.7314
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6268 - accuracy: 0.7304
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6101 - accuracy: 0.7326
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6021 - accuracy: 0.7346
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6083 - accuracy: 0.7349
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6191 - accuracy: 0.7341
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6074 - accuracy: 0.7342
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6062 - accuracy: 0.7366
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6134 - accuracy: 0.7359
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6082 - accuracy: 0.7346

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [25]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5998 - accuracy: 0.7322 - 529ms/epoch - 2ms/step
Loss: 0.5997657775878906, Accuracy: 0.7322449088096619

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [26]:
# Set the model's file path
file_path = Path("./Resources/AlphabetSoup.h5")

# Export your model to a HDF5 file
nn.save_weights(file_path)

---

## Optimize the neural network model

### Step 1: Define two new deep neural network models (resulting in the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1 - Use Sigmoid as the activation function for the hidden layers and output layer

In [27]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [28]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [29]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = (number_input_features + 1) // 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

58

In [30]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = (hidden_nodes_layer1 + 1) // 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [31]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [32]:
# Add the first hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1, activation="sigmoid", input_dim=number_input_features))

# Add the second hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer2, activation="sigmoid"))

# Add the output layer
nn_A1.add(Dense(units=number_output_neurons, activation="sigmoid"))


# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 58)                6786

 dense_4 (Dense)             (None, 29)                1711

 dense_5 (Dense)             (None, 1)                 30

=================================================================
Total params: 8527 (33.31 KB)
Trainable params: 8527 (33.31 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [33]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [34]:
# Fit the model using 100 epochs and the training data
fit_model_A1 = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6108 - accuracy: 0.7333
Epoch 2/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6041 - accuracy: 0.7367
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6163 - accuracy: 0.7358
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6205 - accuracy: 0.7260
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6033 - accuracy: 0.7376
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6157 - accuracy: 0.7350
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6139 - accuracy: 0.7363
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6266 - accuracy: 0.7318
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6045 - accuracy: 0.7369
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6155 - accuracy: 0.7291
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6027 - accuracy: 0.7369
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6021 - accuracy: 0.7366
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5957 - accuracy: 0.7363
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6087 - accuracy: 0.7378
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6084 - accuracy: 0.7351
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6061 - accuracy: 0.7370
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5990 - accuracy: 0.7370
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5992 - accuracy: 0.7371
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6056 - accuracy: 0.7360
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6256 - accuracy: 0.7101
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6038 - accuracy: 0.7335
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6101 - accuracy: 0.7357
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6061 - accuracy: 0.7365
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6043 - accuracy: 0.7365
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6009 - accuracy: 0.7374
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6046 - accuracy: 0.7373
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6097 - accuracy: 0.7318
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6055 - accuracy: 0.7336
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6275 - accuracy: 0.7177
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6131 - accuracy: 0.7329
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6039 - accuracy: 0.7369
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6019 - accuracy: 0.7382
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6582 - accuracy: 0.7334
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6289 - accuracy: 0.7337
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6152 - accuracy: 0.7357
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6163 - accuracy: 0.7368
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6043 - accuracy: 0.7369
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5992 - accuracy: 0.7381
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6016 - accuracy: 0.7393
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6028 - accuracy: 0.7332
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6035 - accuracy: 0.7391
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6053 - accuracy: 0.7379
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6009 - accuracy: 0.7364
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6022 - accuracy: 0.7369
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6109 - accuracy: 0.7353
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6078 - accuracy: 0.7371
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6149 - accuracy: 0.7353
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6010 - accuracy: 0.7387
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6059 - accuracy: 0.7382
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6005 - accuracy: 0.7375

In [35]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.6914 - accuracy: 0.5420 - 571ms/epoch - 2ms/step
Loss: 0.6913599967956543, Accuracy: 0.5420408248901367

#### Alternative Model 2 - Add a Third Hidden Layer

In [36]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [37]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [38]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = (number_input_features + 1) // 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

58

In [39]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A2 = (hidden_nodes_layer1_A2 + 1) // 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2_A2

29

In [40]:
# Define the number of hidden nodes for the third hidden layer
hidden_nodes_layer3_A2 = (hidden_nodes_layer2_A2 + 1) // 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer3_A2

15

In [41]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [42]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features, activation="relu"))

# Add the second hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer2_A2, activation="relu"))

# Add the third hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer3_A2, activation="relu"))

# Output layer
nn_A2.add(Dense(units=1, activation="relu"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 58)                6786

 dense_7 (Dense)             (None, 29)                1711

 dense_8 (Dense)             (None, 15)                450

 dense_9 (Dense)             (None, 1)                 16

=================================================================
Total params: 8963 (35.01 KB)
Trainable params: 8963 (35.01 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [43]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [44]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 2ms/step - loss: 1.1259 - accuracy: 0.6802
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7985 - accuracy: 0.7137
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7780 - accuracy: 0.7183
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7351 - accuracy: 0.7182
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7155 - accuracy: 0.7219
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7034 - accuracy: 0.7240
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7263 - accuracy: 0.7133
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6731 - accuracy: 0.7219
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6488 - accuracy: 0.7301
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6382 - accuracy: 0.7292
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6623 - accuracy: 0.7262
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6507 - accuracy: 0.7295
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6551 - accuracy: 0.7159
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6672 - accuracy: 0.7230
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6542 - accuracy: 0.7266
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6437 - accuracy: 0.7311
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6409 - accuracy: 0.7324
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6581 - accuracy: 0.7281
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6267 - accuracy: 0.7301
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6316 - accuracy: 0.7282
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6485 - accuracy: 0.7311
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6277 - accuracy: 0.7304
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6376 - accuracy: 0.7138
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6415 - accuracy: 0.7264
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6255 - accuracy: 0.7282
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6124 - accuracy: 0.7320
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6148 - accuracy: 0.7282
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6176 - accuracy: 0.7313
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6106 - accuracy: 0.7331
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6024 - accuracy: 0.7335
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6064 - accuracy: 0.7240
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6094 - accuracy: 0.7328
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6232 - accuracy: 0.7311
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6018 - accuracy: 0.7332
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5800 - accuracy: 0.7329
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5899 - accuracy: 0.7313
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6065 - accuracy: 0.7299
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6158 - accuracy: 0.7290
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5782 - accuracy: 0.7332
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5776 - accuracy: 0.7353
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5867 - accuracy: 0.7259
Epoch 42/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5810 - accuracy: 0.7336
Epoch 43/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5810 - accuracy: 0.7335
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5782 - accuracy: 0.7339
Epoch 45/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5814 - accuracy: 0.7313
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5722 - accuracy: 0.7332
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5803 - accuracy: 0.7319
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5908 - accuracy: 0.7260
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5899 - accuracy: 0.7331
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5799 - accuracy: 0.7337

In [45]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5859 - accuracy: 0.7269 - 499ms/epoch - 2ms/step
Loss: 0.585898756980896, Accuracy: 0.7268804907798767

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [46]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.6263 - accuracy: 0.7294 - 358ms/epoch - 1ms/step
Loss: 0.6263494491577148, Accuracy: 0.7294460535049438

In [47]:
print("Alternative Model 1 Results - Using Sigmoid as the Activation Function Instead of ReLu")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results - Using Sigmoid as the Activation Function Instead of ReLu
268/268 - 0s - loss: 0.6914 - accuracy: 0.5420 - 354ms/epoch - 1ms/step
Loss: 0.6913599967956543, Accuracy: 0.5420408248901367

In [48]:
print("Alternative Model 2 Results - Add a Third Hidden Layer")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results - Add a Third Hidden Layer
268/268 - 0s - loss: 0.5859 - accuracy: 0.7269 - 381ms/epoch - 1ms/step
Loss: 0.585898756980896, Accuracy: 0.7268804907798767

### Step 3: Save each of your alternative models as an HDF5 file.

In [49]:
# Set the file path for the first alternative model
file_path = Path("./Resources/AlphabetSoup_A1.h5")

# Export your model to a HDF5 file
nn_A1.save_weights(file_path)

In [50]:
# Set the file path for the second alternative model
file_path = Path("./Resources/AlphabetSoup_A2.h5")

# Export your model to a HDF5 file
nn_A2.save_weights(file_path)